WSDL/src/main/webapp/schemas/CatDetails.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://cat.acs.ru"
	targetNamespace="http://cat.acs.ru" elementFormDefault="qualified"
	attributeFormDefault="unqualified">
	<xs:element name="Cat" type="Cat" />
	<xs:complexType name="Cat">
		<xs:sequence>
			<xs:element name="Id" type="xs:integer" minOccurs="0" />
			<xs:element name="User" type="xs:string" />
			<xs:element name="Description" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="Content" type="xs:string" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>  